

html body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_container {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.header {
  width: 100%;
  height: 69px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.img-tea-cozy-logo {
  height: 50px;
  margin-left: 10px;
}

.menu {
  margin-right: -10px;
}

span li {
  list-style-type: none;
  display: inline-block;
  margin: auto 30px 0 0;
}


span a {
  text-decoration: underline;
  color: seashell;
}

.mission_container {
  display: flex;
  height: 700px;
  width: 1200px;
}

.mission_content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.mission_body {
  background-color: black;
  width: 1200px;
}
